<%- include('../includes/head', {pageTitle: 'Signup'})%>
<body>
  <%- include('../includes/header') %>
  <main>
    <h1></h1>
    <form action="" method=""></form>
  </main>
</body>
<%- include('../includes/footer') %>
